---
title: Bot verification methods
description: Refer to the following pages for more information on Cloudflare's validation methods for Verified and Signed bots.
image: https://developers.cloudflare.com/core-services-preview.png
---

[Skip to content](#%5Ftop) 

Was this helpful?

YesNo

[ Edit page ](https://github.com/cloudflare/cloudflare-docs/edit/production/src/content/docs/bots/reference/bot-verification/index.mdx) [ Report issue ](https://github.com/cloudflare/cloudflare-docs/issues/new/choose) 

Copy page

# Bot verification methods

Refer to the following pages for more information on Cloudflare's validation methods for [Verified](https://developers.cloudflare.com/bots/concepts/bot/verified-bots/) and [Signed](https://developers.cloudflare.com/bots/concepts/bot/signed-agents/) bots.

* [ Web Bot Auth ](https://developers.cloudflare.com/bots/reference/bot-verification/web-bot-auth/)
* [ IP validation ](https://developers.cloudflare.com/bots/reference/bot-verification/ip-validation/)

```json
{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"/directory/","name":"Directory"}},{"@type":"ListItem","position":2,"item":{"@id":"/bots/","name":"Bots"}},{"@type":"ListItem","position":3,"item":{"@id":"/bots/reference/","name":"Reference"}},{"@type":"ListItem","position":4,"item":{"@id":"/bots/reference/bot-verification/","name":"Bot verification methods"}}]}
```
